mixin rate()
    .rate-button
        input(type="radio" name="star" id="star1")
        label(for="star1")
        input(type="radio" name="star" id="star2")
        label(for="star2")
        input(type="radio" name="star" id="star3")
        label(for="star3")
        input(type="radio" name="star" id="star4")
        label(for="star4")
        input(type="radio" name="star" id="star5")
        label(for="star5")