
@font-face {
    font-family: "Quicksand"; 
    src: url("Quicksand-VariableFont_wght.ttf") format('truetype');  /* задаем путь относительно корня сайта к шрифту (url) и тип шрифта (format). Тип шрифта выступает подсказкой для браузера (в идеале ускоряет процесс обработки) */
    font-style: normal;  /* указываем, что стиль шрифта обычный - это значение по умолчанию */
    font-weight: normal;  /* определяет нормальное начертание символов - это значение по умолчанию */ 
    }