include ../sample/sample.pug

mixin sample-list()
    div(class='sample-list')
        +sample('#1F2041','Dark Shade 100% ','grey_100')
        +sample('#1F2041','Dark Shade 75% ','grey_75')
        +sample('#1F2041','Dark Shade 50% ','grey_50')
        +sample('#1F2041','Dark Shade 25% ','grey_25')
        +sample('#1F2041','Dark Shade 5% ','grey_05')
        +sample('#BC9CFF','Purple ','purple')
        +sample('#6FCF97','Green ','green')