include ../../../components/formElements/input-field/input-field.pug
include ../../../components/formElements/subscribe-field/subscribe-field.pug

<!DOCTYPE html>
html(lang="en")
    head
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        img(class='icon' src='/img/Group.jpg')
        .form-elements
            .form-elements__input-field="text field"
            .form-elements__input-field1
                +input-field("input-field1","Email")
            .form-elements__input-field2="text field"
            .form-elements__input-field3
                +input-field("input-field2","This is pretty awesome")
            .form-elements__input-field4="masked text field"
            .form-elements__input-field5
                +input-field("input-field3","ДД.ММ.ГГГГ",id="phone")
            .form-elements__input-field6="subscription text field"
            .form-elements__input-field7
                +subscribe-field()

        