include ../../../components/formElements/text-field/text-field.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        img(class='icon' src='/img/Group.jpg')
        div(class="text-field-container")
            +text-field("text field","default","Email","padding")
            div(class="space")
            +text-field("text field","hover / focus","This is pretty awesome")

        