mixin list()
    .bullet-list
        ul
            li 
                span.bullet-list__dot
                span.bullet-list__text Нельзя с питомцами
            li 
                span.bullet-list__dot
                span.bullet-list__text Без вечеринок и мероприятий
            li 
                span.bullet-list__dot
                span.bullet-list__text Время прибытия — после 13:00, а выезд до 12:00