include ../../../components/colors&type/sample-list/sample-list.pug
include ../../../components/colors&type/font-sample/font-sample.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Colors & Type
    link(rel='stylesheet', href='main.css')
  body
    img(class='icon',src='/img/Group.jpg')
    +sample-list()
    div(class='headers_types')
      +font-sample('h1','h1_types','H1','This one is the sub-section or widget title')
      +font-sample('h2','h2_types','H2','Next one is the item title inside widgets')
      +font-sample('h3','h3_types','H3','This is a label or CTA text')
      +font-sample('body_title','body_types','Body','This is the body text which is used for most of the design, like paragraphs, lists, etc.')

      
      
      