include /pug/main.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Colors & Type
    link(rel='stylesheet', href='main.css')
    link(rel='stylesheet', href='')
  body
    div(class='container colors')
      +box('#1F2041','Dark Shade 100% ','grey')
      +box('#1F2041','Dark Shade 75% ','grey')
      +box('#1F2041','Dark Shade 50% ','grey')
      +box('#1F2041','Dark Shade 25% ','grey')
      +box('#1F2041','Dark Shade 5% ','grey')
      +box('#BC9CFF','Purple ','purple')
      +box('#6FCF97','Green ','green')
    div(class='headers_types')
      div(class='h1_type') This one is the sub-section or widget title
      