<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Colors & Type
    link(rel='stylesheet', href='main.css')
  body
    div(class='container')
      include /pug/main.pug
      