@font-face {
    font-family: 'Quicksand';
    src:url('../common/fonts/Quicksand-Bold.ttf') format('truetype');
        //url('../fonts/Quicksand-Bold.woff') format('woff');
        //url('../fonts/Quicksand-Bold.ttf') format('truetype'),
        //url('../fonts/Quicksand-Bold.svg') format('svg');
    font-style: normal;
    }
