/*@import '/fonts.scss';

@mixin h($font_size,$height,$line_height){
  width: 37px;
  height: $height;
  font-family: 'Montserrat-Regular';
  font-weight: normal;
  font-size: $font_size;
  line-height: $line_height;
  text-align: right;
  color:rgba(31, 32, 65, 0.25);
}

@mixin text($font_family,$font_size,$color,$line_height,$height){
  width: 336px;
  height: $height;
  font-family: $font_family;
  font-style: normal;
  font-size: $font_size;
  line-height: $line_height;
  color: $color;
  margin-left: 30px;
}

@mixin color_box($color,$limpidity: 1) {
  height: 70px;
  width: 70px;
  border-radius: 6px;
  float: left;
  background-color: rgba($color,$limpidity);
}

body,html {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  max-width: 1920px;
  min-width: 320px;
  background-color: #FFFFFF;
}

body {
  

  .sample-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 269.26px;
    height: 610px;

    .sample {
      width: 300px;
      height: 70px;

      .sample__color{
          height: 70px;
          width: 70px;
          border-radius: 6px;
          float: left;
      }

      .grey_100{@include color_box(#1F2041)}
      .grey_75{@include color_box(#1F2041,0.75)}
      .grey_50{@include color_box(#1F2041,0.50)}
      .grey_25{@include color_box(#1F2041,0.25)}
      .grey_05{@include color_box(#1F2041,0.05)}
      .purple{@include color_box(#BC9CFF)}
      .green{@include color_box(#6FCF97)}
        
      .sample__name{
        width: 170px;
        height: 70px;
        font-family: 'Quicksand-Bold', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 29px;
        margin-left: 70px;
        padding-left: 40px;
        padding-top: 6px;
                          
        .sample__code{ 
          font-family: 'Quicksand-Light';
          font-style: normal;
          font-size: 19px;
          line-height: 29px;            
        }
      }
    }
  }

  .headers_types{
    position: absolute;
    width: 403px;
    height: 321px;
    left: 846px;
    top: 145px;
    display: flex;
    flex-direction: column;

    .title_container{
      width: 403px;
      height: 60px;
      display: flex;
      margin-bottom: 50px;

      .h1{@include h(24px,30px,29px)}
      .h1_types{@include text('Quicksand-Bold',24px,#1F2041,30px,60px)}
      
      .h2{@include h(19px,24px,23px)}
      .h2_types{@include text('Quicksand-Bold',19px,#1F2041,24px,48px)}
      
      .h3{@include h(12px,15px,15px);}
      .h3_types{@include text('Montserrat-Bold',12px,#1F2041,15px,15px);
        text-transform: uppercase;
      }

      .body_title{@include h(14px,24px,24px)}
      .body_types{@include text('Montserrat-Regular',14px,rgba(31, 32, 65, 0.75),24px,48px);
        width: 310px;
        margin-top: -2px;
      }

    }
  }

  .icon{
    padding-left: 30px;
    padding-top: 30px;
  }
}

.colors{ 
  margin-left: 150px;
  margin-top: 64px;
  padding: 0 0 0 0;
}*/